Repository yyz945947732/vscode-nue: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --cache --write

.lintstagedrc.json:

{
  "*.md": "markdownlint",
  "*.{js,json}": "prettier --cache --write"
}

build: add commitlint
  .husky/pre-commit
Due: none

try: try if lint-staged work
  package.json
Due: prettier --cache --write

build: move lint-staged to package.json
  .lintstagedrc.json
Due: prettier --cache --write

build: move lint-staged to package.json
  .husky/commit-msg
  .vscodeignore
Due: none

try: test if commitlint work
  package.json
Due: prettier --cache --write

foo: test if commitlint work
  .husky/commit-msg
Due: none

build: remove commit-msg lint
  .commitlintrc.json
  .husky/commit-msg
  .vscodeignore
  package.json
Due: prettier --cache --write

style: format example
  examples/component-basics.nue
  examples/control-flow.nue
  examples/event-handlers.nue
  examples/example.nue
  examples/template-syntax.nue
Due: none

fix: Fixed an issue that ` {` in `{}` would cause a highlight error.
  syntaxes/nue.tmLanguage.json
Due: prettier --cache --write

fix: Fixed an issue that `function {` or `class {` in `{}`would cause a highlight error.
  syntaxes/nue.tmLanguage.json
Due: prettier --cache --write

chore: 0.0.8
  CHANGELOG.md
  package.json
  syntaxes/nue.tmLanguage.json
Due: markdownlint, prettier --cache --write

build: add package script
  package.json
Due: prettier --cache --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

fix: fix comments behavior error
  package.json
Due: prettier --cache --write

feat: support auto completion for $attr
  data/attributes.json
  examples/control-flow.nue
Due: prettier --cache --write

feat: Support components snippet
  docs/Snippets.md
  examples/control-flow.nue
  snippets/snippets.json
Due: markdownlint, prettier --cache --write

chore: 0.0.9
  CHANGELOG.md
  package.json
Due: markdownlint, prettier --cache --write

chore: remove icon.
  asset/icon.png
  package.json
Due: prettier --cache --write

chore: remove icon.
  CHANGELOG.md
Due: markdownlint

chore: 0.0.10
  package.json
Due: prettier --cache --write

chore: vevert 0.0.9
  CHANGELOG.md
  asset/icon.png
  package.json
Due: markdownlint, prettier --cache --write
